CalculWS_Client_Application/src/META-INF/wsdl/localhost_8080/MathWebServices/CalculSimples.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://erp/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://erp/" name="CalculSimples">
<types>
<xsd:schema>
<xsd:import namespace="http://erp/" schemaLocation="http://localhost:8080/MathWebServices/CalculSimples?xsd=1"/>
</xsd:schema>
</types>
<message name="decomposer">
<part name="parameters" element="tns:decomposer"/>
</message>
<message name="decomposerResponse">
<part name="parameters" element="tns:decomposerResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="premier">
<part name="parameters" element="tns:premier"/>
</message>
<message name="premierResponse">
<part name="parameters" element="tns:premierResponse"/>
</message>
<message name="somme">
<part name="parameters" element="tns:somme"/>
</message>
<message name="sommeResponse">
<part name="parameters" element="tns:sommeResponse"/>
</message>
<portType name="CalculSimples">
<operation name="decomposer">
<input wsam:Action="http://erp/CalculSimples/decomposerRequest" message="tns:decomposer"/>
<output wsam:Action="http://erp/CalculSimples/decomposerResponse" message="tns:decomposerResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://erp/CalculSimples/helloRequest" message="tns:hello"/>
<output wsam:Action="http://erp/CalculSimples/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="premier">
<input wsam:Action="http://erp/CalculSimples/premierRequest" message="tns:premier"/>
<output wsam:Action="http://erp/CalculSimples/premierResponse" message="tns:premierResponse"/>
</operation>
<operation name="somme">
<input wsam:Action="http://erp/CalculSimples/sommeRequest" message="tns:somme"/>
<output wsam:Action="http://erp/CalculSimples/sommeResponse" message="tns:sommeResponse"/>
</operation>
</portType>
<binding name="CalculSimplesPortBinding" type="tns:CalculSimples">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="decomposer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="premier">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="somme">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculSimples">
<port name="CalculSimplesPort" binding="tns:CalculSimplesPortBinding">
<soap:address location="http://localhost:8080/MathWebServices/CalculSimples"/>
</port>
</service>
</definitions>