JavaApplicationCliente/xml-resources/web-service-references/CalculSimples/wsdl/localhost_8080/MathWebServices/CalculSimples.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://erp/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://erp/">

<xs:element name="decomposer" type="tns:decomposer"/>

<xs:element name="decomposerResponse" type="tns:decomposerResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="premier" type="tns:premier"/>

<xs:element name="premierResponse" type="tns:premierResponse"/>

<xs:element name="somme" type="tns:somme"/>

<xs:element name="sommeResponse" type="tns:sommeResponse"/>

<xs:complexType name="somme">
<xs:sequence>
<xs:element name="nombreA" type="xs:double"/>
<xs:element name="nombreB" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sommeResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="decomposer">
<xs:sequence>
<xs:element name="entier" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="decomposerResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="premier">
<xs:sequence>
<xs:element name="entier" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="premierResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>